#about {
	max-width: 800px;
	margin:auto;
}
#about div {
	margin-top: 20px;
}
#about h2 {
	margin-bottom: 20px;
	color:#31b7dc;
}
#about h3 {
	margin-bottom:10px;
}
#about p {
	line-height: 1.5em;
	color:#424242;
}