@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  background-color: #ededed; }

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 600px; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; 
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
.bold {
  font-weight: bold;
}
.content {
  min-height: 100vh;
  margin-top: 50px; }

.left {
  width: 20%;
  float: left; }

.right {
  width: 80%;
  float: left; }

.fl_c {
  clear: both; }

/******Post******/
.post-container {
  padding: 0 15px; }

.full-post {
  position:relative;
  background-color: #fff; 
}

.post {
  float: left;
  width: 80%;
  padding: 5px; 
  border-right:1px solid #e2e2e2;
}
  .post .post-info {
    font-style: italic; }

.author-info {
  float: right;
  width: 20%;
  padding: 5px;
  font-size: 0.9em; 
}
  .author-info img {
    width: 55%;
    display: block;
    margin: auto;
    margin-bottom: 15px; 
  }

.btn {
  padding: 10px 20px;
  border: 1px solid #093a73;
  background-color: #093a73;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s; 
}
.navigation-buttons .btn:hover {
  background-color: rgba(251, 251, 251, 0.6); 
  color: #000;
}

.new-post-body {
  padding: 20px;
  color: inherit; }
  .new-post-body select {
    display: inline-block;
    margin-left: 10px;
    height: 35px; }
  .new-post-body h3, .new-post-body label {
    display: inline-block;
    width: auto; }
  .new-post-body .category-select {
    margin-top: 10px; }

form {
  width: 100%;
  display: block; 
}
form label, form input, form button, form textarea {
  display: block;
  width: 100%;
  margin: auto; 
}
form input {
  height: 30px; 
}
form label {
  margin: 5px auto 2px;
  color: #6b6a6a; 
}
form button {
  margin-top: 20px;
  padding: 10px; 
}
form textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}
.register-page {
  margin:auto;
  width: 500px;
}
.register-page .btn {
  margin-top:20px;
}

.avatar-square {
  float:left;
  width: 12.5%;

}
.avatar-square img {
  max-width: 100%;
  cursor:pointer;
  opacity:0.7;
}
.avatar-wrapper {

}
.avatar-wrapper:after {
  content: '';
  display: block;
  clear:both;
}

input#img1,
input#img2,
input#img3,
input#img4,
input#img5,
input#img6,
input#img7,
input#img8,
input#img9,
input#img10,
input#img11,
input#img12,
input#img13,
input#img14,
input#img15,
input#img16  {
    display: none;
}
.avatar-square input:checked + label img,
.avatar-square input:checked + label {
    transform:scale(1.14);
    opacity:1;
}
.avatar-title {
  padding: 20px 0 0;
}

.avatar-wrapper .avatar-row {
  margin: 5px auto;
}

/*
*****Post Page******
*/
.post .post-info {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.post .post-text {
  padding: 10px;
  line-height: 1.4em;
}
.quote {
    border: 1px solid #e2e2e2;
    padding: 10px;
    width: 98%;
    margin: 0 auto 10px;
}

.reply-to-this {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000;
  opacity: 0.4;
}
.reply-to-this_text {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity: 1;
  color:#fff;
  font-size:2em;
  overflow: hidden;
}
.reply-to-this-text-inner {
  transition: all 0.6s;
}

/*
*****Home Page******
*/
.forum {
  padding: 0 15px;
  box-sizing: border-box; 
}
.forum-content {
  /*background-color: #fff;*/
  margin-top: 10px;
  overflow: hidden;
  transition: all 0.6s ease-in; 
}
.forum-content h2 {
  margin-top: 0px; 
}
.forum-header {
  background-color: #222;
  color: white;
  padding: 10px;
  margin: 0; 
}
.forum-title {
  width: 90%;
  display: inline-block; 
}
/*Arrors*****/
.arrors {
  position: relative;
  width: 50px;
  height: 35px;
  float: right;
  cursor: pointer;
  transform: rotateZ(0deg) translate(20%, 0%); 
}
.leftArrow {
  position: absolute;
  height: 20px;
  left: 36%;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(130deg) translate(100%);
  -ms-transform: rotate(130deg) translate(100%);
  transform: rotate(135deg) translate(100%, -13%); 
}
.rightArrow {
  position: absolute;
  height: 20px;
  left: 65%;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(45deg) translate(0, 35%); 
}
